$fg: #dedede;
$bg: #1d1f21;
$anim_color: #fff;

.light {
  display: none;
}

.red  { color: #cc6666}
.green  { color: #b5bd68}
.yellow { color: #f0c674}
.blue   { color: #81a2be}
.purple { color: #b294bb}
.cyan   { color: #8abeb7}
.grey   { color: #c5c8c6}

html {
  background-color: $bg;
  color: $fg;
  font-family: sans-serif;
}

a {
  color: darken($fg, 10);
}

a:hover {
  color: darken($fg, 5);
}

.login {
  form {
    input, button {
      border-color: lighten($bg, 20);
      color: white;
      background-color: transparent;
    }
  }
}

.main {
  .list {
    background-color: $bg;

    .header {
      background-color: darken($bg, 1);
    }

    #menu {
      background-color: $bg;
    }

    #room_item {
      border: 1px solid lighten($bg, 2);
      border-bottom: none;
    }

    .timestamp {
      background-color: $bg;
    }

    .active, .active .timestamp {
       background-color: lighten($bg, 3);
    }
  }

  .view {
    color: $fg;
    background-color: $bg;
    border: 1px solid lighten($bg, 10);
    .messages {
      .message {
        background-color: lighten($bg, 4);

        .timestamp {
          color: darken($fg, 45);
        }
      }
    }

    .input {
      background-color: $bg;
      border-top: 1px solid lighten($bg, 10);
      textarea {
        color: lighten($fg, 5);
      }
    }
  }
}
