@import "colors";

html, body {
  margin: 0;
}

.loading {
  position: fixed;
  top: 2px;
  right: 2px;
  height: 90px;
  width: 90px;
}

.login {
  #header {
    height: 40vh;
  }

  form {
    input, button {
      border: 1px solid;
      margin: 5px;
      padding: 5px;
    }

    button {
      margin-right: 0;
    }
  }
}

.main {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  .list {
    width: 30vw;
    height: 100vh;
    display: inline-block;
    overflow: hidden;
    overflow-y: auto;

    div {
      height: 70px;
      cursor: pointer;
      display: block;
      padding: 10px;
      position: relative;

      img {
        object-fit: cover;
        position: absolute;
        left: 10px;
        top: 10px;
      }

      #name {
        font-size: 140%;
        font-weight: bold;
        padding: 10px;
        padding-left: 80px;
        white-space: nowrap;
      }

      .last_msg {
        white-space: nowrap;
        padding: 10px;
        padding-top: 0;
        padding-left: 80px;
        position: absolute;
        width: 80%;
        overflow: hidden;
      }

      .timestamp {
        position: absolute;
        padding: 10px;
        top: 0;
        right: 0;
      }
    }
  }

  .view {
    width: 69.8vw;
    height: 100vh;
    float: right;
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    .messages {
      flex: 1;
      overflow-x: hidden;
      overflow-y: auto;

      .message {
        clear: both;
        margin: 5px;
        padding: 8px;
        position: relative;
        display: inline-flex;
        min-width: 110px;
        max-width: 60%;
        border-radius: 4px;

        img {
          height: 60px;
          width: 60px;
          vertical-align: top;
          margin: 5px;
          object-fit: cover;
        }

        div {
          margin: 5px;
          display: inline-block;
          margin-bottom: 20px;
        }

        p {
          margin: 0;
          display: block;
        }

        .timestamp {
          position: absolute;
          right: 7px;
          bottom: 7px;
        }
      }
    }

    .split {
      .in {
        float: left;
      }

      .out {
        float: right;
        img, b, br {
          display: none;
        }
      }
    }

    .input {
      padding: 12px;
      position: relative;
      #file {
        cursor: pointer;
        height: 30px;
        position: absolute;
        bottom: 6px;
        left: 6px;
      }

      textarea {
        width: calc(100% - 72px);
        margin-left: 36px;
        border: none;
        background: transparent;

        resize: none;
        overflow: hidden;
        overflow-y: auto;
        outline: none;
        max-height: 150px;
      }

      #send {
        cursor: pointer;
        height: 30px;
        position: absolute;
        bottom: 6px;
        right: 6px;
      }
    }
  }
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
