@import "colors";

html, body {
    margin: 0;
}

.login {
    #header {
        height: 40vh;
    }

    form {
        input, button {
            border: 1px solid white;
            margin: 5px;
            padding: 5px;
        }

        button {
            margin-right: 0;
        }
    }
}

.main {
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    .list {
        width: 30vw;
        height: 100vh;
        display: inline-block;
        overflow: hidden;
        overflow-y: auto;

        .room_radio {
            display: none;
        }

        label {
            height: 70px;
            cursor: pointer;
            display: block;
            padding: 10px;
            position: relative;

            img {
                object-fit: cover;
                position: absolute;
                left: 10px;
                top: 10px;
            }

            #name {
                font-size: 140%;
                font-weight: bold;
                padding: 10px;
                padding-left: 80px;
                white-space: nowrap;
            }

            .last_msg {
                white-space: nowrap;
                padding: 10px;
                padding-top: 0;
                padding-left: 80px;
                position: absolute;
                width: 80%;
                overflow: hidden;
            }

            .timestamp {
                position: absolute;
                padding: 10px;
                top: 0;
                right: 0;
            }
        }
    }

    .view {
        width: 69.8vw;
        height: 100vh;
        float: right;
        display: flex;
        min-height: 100vh;
        flex-direction: column;

        .messages {
            flex: 1;
            overflow-x: hidden;
            overflow-y: auto;
            .room_messages {
                display: none;
                height: 100%;

                .message {
                    clear: both;
                    margin: 5px;
                    padding: 8px;
                    position: relative;
                    display: inline-flex;
                    min-width: 110px;
                    max-width: 60%;
                    border-radius: 4px;
                    img {
                        height: 60px;
                        vertical-align: top;
                        margin: 5px;
                    }

                    div {
                        margin: 5px;
                        display: inline-block;
                        margin-bottom: 20px;
                    }

                    p {
                        margin: 0;
                        display: block;
                    }

                    .timestamp {
                        position: absolute;
                        right: 7px;
                        bottom: 7px;
                    }
                }
            }
        }

        .split {
            .in {
                float: left;
            }

            .out {
                float: right;
                img, b, br {
                    display: none;
                }
            }
        }

        .input {
            padding: 12px;
            position: relative;
            #file {
                cursor: pointer;
                height: 30px;
                position: absolute;
                bottom: 6px;
                left: 6px;
            }

            textarea {
                width: calc(100% - 72px);
                margin-left: 36px;
                border: none;
                background: transparent;

                resize: none;
                overflow: hidden;
                overflow-y: auto;
                outline: none;
                max-height: 150px;
            }

            #send {
                cursor: pointer;
                height: 30px;
                position: absolute;
                bottom: 6px;
                right: 6px;
            }
        }
    }
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Loading animation */
#loading {
    display: none;
    position: fixed;
    top: 30%;
    left: 50%;
    margin-left: -45px;
    z-index: 100;
}

.orbit-spinner, .orbit-spinner * {
     box-sizing: border-box;
}
 .orbit-spinner {
     height: 90px;
     width: 90px;
     border-radius: 50%;
     perspective: 800px;
}
 .orbit-spinner .orbit {
     position: absolute;
     box-sizing: border-box;
     width: 100%;
     height: 100%;
     border-radius: 50%;
}
 .orbit-spinner .orbit:nth-child(1) {
     left: 0%;
     top: 0%;
     animation: orbit-spinner-orbit-one-animation 1200ms linear infinite;
}
 .orbit-spinner .orbit:nth-child(2) {
     right: 0%;
     top: 0%;
     animation: orbit-spinner-orbit-two-animation 1200ms linear infinite;
}
 .orbit-spinner .orbit:nth-child(3) {
     right: 0%;
     bottom: 0%;
     animation: orbit-spinner-orbit-three-animation 1200ms linear infinite;
}
 @keyframes orbit-spinner-orbit-one-animation {
     0% {
         transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
     100% {
         transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}
 @keyframes orbit-spinner-orbit-two-animation {
     0% {
         transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
     100% {
         transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}
 @keyframes orbit-spinner-orbit-three-animation {
     0% {
         transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
     100% {
         transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}
