@import "colors";

html, body {
  margin: 0;
}

.loading {
  position: fixed;
  top: 2px;
  right: 2px;
  height: 90px;
  width: 90px;
}

.login {
  #header {
    height: 40vh;
  }

  form {
    input, button {
      border: 1px solid;
      margin: 5px;
      padding: 5px;
    }

    button {
      margin-right: 0;
    }
  }
}

.main {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  .list {
    width: 30vw;
    height: 100vh;
    display: inline-block;
    overflow: hidden;
    overflow-y: auto;

    div {
      height: 80px;
      cursor: pointer;
      display: block;
      padding: 5px;
      position: relative;

      img {
        object-fit: cover;
        position: absolute;
        left: 10px;
        top: 10px;
      }

      #name {
        font-size: 120%;
        font-weight: bold;
        padding: 10px;
        padding-left: 85px;
        white-space: nowrap;
      }

      .last_msg {
        white-space: nowrap;
        padding: 10px;
        padding-top: 0;
        padding-left: 85px;
        position: absolute;
        width: 80%;
        overflow: hidden;
      }

      .timestamp {
        position: absolute;
        padding: 10px;
        top: 0;
        right: 0;
      }
    }
  }

  .view {
    width: 69.8vw;
    height: 100vh;
    float: right;
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    #avatar {
      height: 60px;
      width: 60px;
      vertical-align: top;
      margin: 5px;
      margin-top: 0;
      object-fit: cover;
    }

    .line {
      margin-top: 8px;
    }

    .messages {
      flex: 1;
      overflow-x: hidden;
      overflow-y: auto;

      .message {
        clear: both;
        margin: 0px 5px;
        display: inline-flex;
        min-width: 110px;
        max-width: calc(100% - 85px);
        border-radius: 4px;

        div {
          display: inline-block;
          width: 100%;

          b {
            margin: 5px 10px;
            margin-bottom: 0;
            display: block;
          }

          .file {
            margin: 10px;
          }


          a img {
            max-width: 100%;
            margin-top: 5px;
          }

          .flex {
            display: flex;
            margin: 0 4px;

            p, .timestamp {
              margin: 5px;
            }

            p {
              flex: 1;
            }

            .link {
              max-width: 100%;
            }

            .timestamp {
              align-self: flex-end;
              display: block;
              text-align: right;
              padding-right: 4px;
            }
          }
        }

        .media {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }

    .split {
      .in {
        float: left;
      }

      .out {
        float: right;
        #avatar, b, br {
          display: none;
        }
      }
    }

    .input {
      padding: 12px;
      position: relative;
      #file {
        cursor: pointer;
        height: 30px;
        position: absolute;
        bottom: 6px;
        left: 6px;
      }

      #attachment {
        display: none;
      }

      textarea {
        width: calc(100% - 72px);
        margin-left: 36px;
        border: none;
        background: transparent;

        resize: none;
        overflow: hidden;
        overflow-y: auto;
        outline: none;
        max-height: 150px;
      }

      #send {
        cursor: pointer;
        height: 30px;
        position: absolute;
        bottom: 6px;
        right: 6px;
      }
    }
  }
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
